{% extends 'base_list.html' %}

{% block list_page_title %}di Indirizzi{% endblock %}

{% block list_title %}Indirizzi

{% endblock %}
{% block top %}
<a href="{% url 'core:profile' %}" class="btn btn-outline-secondary">Torna sul tuo profilo</a>
{% endblock %}
{% block table_head %}

    <th>Nazione</th>
    <th>CAP</th>
    <th>Città</th>
    <th>Via/Piazza</th>
    <th>Civico</th>
    <th>Azioni</th>
{% endblock %}

{% block table_body %}
    {% for addr in object_list %}
        <tr>
            <td>{{ addr.nazione }}</td>
            <td>{{ addr.cap }}</td>
            <td>{{ addr.città }}</td>
            <td>{{ addr.via }}</td>
            <td>{{ addr.n_civico }}</td>
            <td>
                <a class="btn btn-primary"
                   href="{% url 'core:address-detail' addr.pk %}">
                        <div class="title">Detagli indirizzi spedizione</div>
                </a>
                <a class="btn btn-warning"
                   href="{% url 'core:address-change' addr.pk %}">
                        <div class="title">Cambio indirizzi spedizione</div>
                </a>

            </td>
        </tr>
    {% endfor %}
{% endblock %}
