{% extends 'base_list.html' %}

{% block list_page_title %}di Indirizzi{% endblock %}

{% block list_title %}Indirizzi

{% endblock %}
{% block top %}
<a href="{% url 'user:user-profile' %}" class="btn btn-outline-secondary">Torna sul tuo profilo</a>
{% endblock %}
{% block table_head %}

    <th>Nazione</th>
    <th>CAP</th>
    <th>Città</th>
    <th>Via/Piazza</th>
    <th>Civico</th>
    <th>Azioni</th>
{% endblock %}

{% block table_body %}
    {% for addr in object_list %}
        <tr>
            <td>{{ addr.nazione }}</td>
            <td>{{ addr.cap }}</td>
            <td>{{ addr.città }}</td>
            <td>{{ addr.via }}</td>
            <td>{{ addr.n_civico }}</td>
            <td>
                <a class="btn btn-primary"
                   href="{% url 'user:address-detail' addr.pk %}">
                    <i class='far fa-clipboard'></i>
                </a>
                <a class="btn btn-warning"
                   href="{% url 'user:address-change' addr.pk %}">
                    <i class='far fa-edit'></i>
                </a>
                <a class="btn btn-danger"
                   href="{% url 'user:address-delete' addr.pk%}">
                    <i class='far fa-trash-alt'></i>
                </a>
            </td>
        </tr>
    {% endfor %}
{% endblock %}
{% block table_after %}
    {% if user.is_authenticated %}
        <a class="btn btn-primary" href="{% url 'user:address-add' %}"><i class='fas fa-plus mr-1'></i>Aggiungi indirizzo</a>
    {% endif %}
{% endblock %}
