{% extends 'base.html' %}
{% load static %}
{% block title %}Contatti{% endblock %}

{% block content%}
{% block style %}
    <style>
        body {
            background-image: url('{% static 'img/img45.jpg' %}');
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-4 col-xl-4 py-2">
                <div class="card h-100">
                    <div class="card-info">
                        <h4 class="card-title">{{'Contattaci:'}}</h4>
                        <ul>
                            <li>Email: contactpdr@gmail.com</li>
                            <li>Cellulare: 334/7243098</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% endblock %}