{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}

{% block title %}
    Statistiche
{% endblock %}

{% block content %}
    <h1>Statistiche</h1>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-5">
                <div class="container">
                    <h5 id="id_totale">Totale guadagnato: {{ total }} € </h5>
                    <h4>Ingredienti più venduti</h4>
                    <div id="id_ranking_toppings">{{ ranking_toppings | safe }}</div>
                    <h4>Pizze più vendute</h4>
                    <div id="id_ranking_pizza">{{ ranking_pizza | safe}}</div>
                        <h4>Formaggi più venduti</h4>
                    <div id="id_ranking_cheese">{{ ranking_cheese | safe}}</div>
                </div>
            </div>
            </div>
        <div class="col-sm-10">
            <div class="jumbotron">
                <h5>Filtra per data:</h5>
                Da: <input class="form-control" type="date" id="id_start_date">
                A: <input class="form-control" type="date" id="id_end_date">
                <br>
                <a id="id_btn_filter_date" class="btn btn-primary">Filtra</a>
            </div>
        </div>
    </div>
    </div>


{% endblock %}

{% block javascript %}
    <script>
        function show_statistics() {
            return $.ajax({
                type: 'GET',
                url: '{% url 'order:ajax-restaurateur-filter-statistics' %}',
                data: {
                    'start_date': $('#id_start_date').val(),
                    'end_date' : $('#id_end_date').val(),
                    },
                dataType: "json",
                success: function (data) {
                     $("#id_totale").text("Totale guadagnato: "+data.total +" €");
                    $("#id_ranking_cheese").html(data.ranking_cheese);
                    $("#id_ranking_toppings").html(data.ranking_toppings);
                    $("#id_ranking_pizza").html(data.ranking_pizza);
                }
            });
        }
        $('#id_btn_filter_date').click(function(){
            let str_start_date= $('#id_start_date',).val();
            let str_end_date=$('#id_end_date').val();
            if(str_start_date!='' && str_end_date!='') {
                let p_start_date = str_start_date.split('-')
                let p_end_date = str_end_date.split('-')
                let start_date = new Date(p_start_date[0], p_start_date[1] - 1, p_start_date[2]);
                let end_date = new Date(p_end_date[0], p_end_date[1] - 1, p_end_date[2]);
                if (end_date - start_date > 0) {
                    show_statistics();
                }
                else{
                    alert('La data di fine deve essere successiva a quella di inizio')
                }
            }
            else {
                show_statistics()
            }
        });



    </script>
{% endblock %}