@import url('https://fonts.googleapis.com/css2?family=Lexend+Peta&family=Montserrat&display=swap');

*:not('#id_container_home','#id_total_order'){
    font-family: 'Montserrat', sans-serif;
}
body{
    font-family: 'Montserrat', sans-serif;
}

.navbar{
    font-size: large;
    font-family: 'Montserrat', sans-serif;
}
.nav-link:hover{
    transform: scale(1.1);
    background-color: #ff2a2a;
}

