.jumbotron{
    background-color: #212529;
    color: white;
    font-family: 'Montserrat',sans-serif;
    font-size: 25px;
}

a:hover{
    text-decoration: none;
}
.btn-outline-danger{
    font-size: 25px;
}